@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');







/*media queries*/
@media (max-width: 768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    .heading {
        text-align: center;
        color: #0f52ba;
        font-size: 3rem;
        text-transform: uppercase;
        background: var(--ghost-white);
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: var(--ghost-white);
        padding: 1rem 7%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        box-shadow: var(--box-shadow);
    }

    header .logo{
        color: var(--black);
        font-size: 2.5rem;
        font-weight: bolder;
    }
    
    header .logo i{
        color: #0f52ba;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        color: var(--ghost-white);
        border-bottom: 0.1rem solid #ffffff;
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box{
       width: 80%;
       margin: 0 1rem;
    }
}




